* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.header,
.footer {
  background-color: #1f2937;
  display: flex;
}

.header {
  flex-direction: column;
  gap: 48px;
}
.header-links {
  display: flex;
  justify-content: space-between;
  padding: 16px 150px;
}

.header-content {
  display: flex;
  padding: 24px 150px;
  justify-content: space-between;
  margin-bottom: 96px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 450px;
  gap: 8px;
}

.header-content img {
  max-width: 100%;
  height: auto;
  display: block;
}

.img-wrapper {
  flex: 0 1 450px;
}

.header-text h2 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.header-text p,
.header ul {
  font-size: 18px;
  color: #e5e8eb;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 12px;
}

.header h1 {
  font-size: 24px;
  color: #f9faf8;
}

a:link,
a:visited {
  text-decoration: none;
  font-size: 18px;
  color: #e5e8eb;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #3882f6;
  font-weight: bold;
  color: #f9faf8;
  padding: 10px 32px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}
