* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  background-color: #1f2937;
  display: flex;
}

.header {
  flex-direction: column;
  gap: 48px;
}
.header-links {
  display: flex;
  justify-content: space-between;
  padding: 16px 150px;
}

.header-content {
  display: flex;
  padding: 24px 150px;
  justify-content: space-between;
  margin-bottom: 96px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 450px;
  gap: 8px;
}

.img-wrapper {
  flex: 0 1 450px;
}

.header-text h2 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.header-text p,
.header ul {
  font-size: 18px;
  color: #e5e8eb;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}

.header h1 {
  font-size: 24px;
  color: #f9faf8;
}

a:link,
a:visited {
  text-decoration: none;
  font-size: 18px;
  color: #e5e8eb;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #3882f6;
  font-weight: bold;
  color: #f9faf8;
  padding: 10px 32px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.information {
  align-self: center;
  margin-top: 48px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.title {
  font-size: 24px;
  color: #1f2937;
  font-weight: 900;
  margin-bottom: 60px;
}

.images {
  display: flex;
  gap: 48px;
  margin-bottom: 112px;
}

.info img {
  border: 4px solid #3882f6;
  border-radius: 15px;
  margin: 12px 0px;
}

.info {
  max-width: 175px;
  flex: 0 1 auto;
}

.text {
  color: grey;
  font-size: 18px;
}

.quote-container {
  background-color: #e5e7eb;
  padding: 96px 275px 64px;
}
.quote {
  text-align: center;
  font-size: 24px;
  color: #1f2937;
  font-weight: 300;
  margin-bottom: 16px;
  font-style: italic;
}
.quote-attribution {
  text-align: end;
  font-weight: bold;
}

.ad-space {
  margin: 96px 150px;
  background-color: #3882f6;
  border-radius: 8px;
  padding: 48px 96px;
  display: flex;
  justify-content: space-between;
}

.ad-title {
  font-size: 16px;
  font-weight: bold;
  color: #f9faf8;
  margin-bottom: 4px;
}

.ad-description {
  font-size: 14px;
  color: #f9faf8;
}
.ad-space button {
  border: 2px solid #f9faf8;
  color: #f9faf8;
  font-size: 14px;
}
