body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.header,
.footer {
  background-color: #1f2937;
}

.header-text h2 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.header-text p,
.header ul {
  font-size: 18px;
  color: #e5e8eb;
  list-style: none;
}

.header h1 {
  font-size: 24px;
  color: #f9faf8;
}

a:link,
a:visited {
  text-decoration: none;
  font-size: 18px;
  color: #e5e8eb;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
}
